<div class="container">
    <header>
        <div class="left">
            <p class="logo">My Application</p>
            <p>City</p>
            <p>Template</p>
        </div>
        <div class="right">
            <p class="categories">Home</p>
            <p class="categories">About</p>
            <p class="categories">Contact</p>
            <p class="categories">Login</p>
        </div>
    </header>
    <app-user></app-user>
    <footer>
        <div>
            <p class="foo">© My Company 2020</p>
        </div>
        <div>
            <p class="foo">Powered by <span style="color: rgb(95, 153, 219);">Yii Framework</span></p>
        </div>
    </footer>
</div>
