<table>
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Email</th>
      <th>Registration Time</th>
      <th>Last Login</th>
      <th>Status</th>
    </tr>
    <tr *ngFor="let user of user" (click)="onSelect(user)" style="cursor: pointer;">
      <td>{{ user.Id }}</td>
      <td>{{ user.Username }}</td>
      <td>{{ user.Email }}</td>
      <td>{{ user.RegistrationTime }}</td>
      <td>{{ user.LastLogin }}</td>
      <td [ngStyle]="{color: statusColor(user)}">{{ user.Status }}</td>
    </tr>
</table>

<app-stats *ngIf="selectedUser" [user]="selectedUser"></app-stats>
